<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511183205245-0cq74ultbn0mnavtm7nino9gi83kdqvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511183205245-0cq74ultbn0mnavtm7nino9gi83kdqvd</string>
	<key>API_KEY</key>
	<string>AIzaSyAILAojIGlU1PQZpO52ngr66LT18-PcK2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>511183205245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfolio</string>
	<key>PROJECT_ID</key>
	<string>squidly1408</string>
	<key>STORAGE_BUCKET</key>
	<string>squidly1408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511183205245:ios:30007d57139a509b44d214</string>
</dict>
</plist>